# Use postgres/example user/password credentials
version: '3.2'

services:
  db:
    image: postgres
    restart: always
    environment:
      POSTGRES_PASSWORD: 'example'
    volumes:
      - ./db/postgres:/var/lib/postgresql/data
    ports:
      - 5432:5432
    networks:
      - backend

  rabbitmq:
    image: rabbitmq:3-management
    ports:
      - 5672:5672
      - 8080:15672
    networks:
      - backend

networks:
  backend:
    driver: bridge